.login-mt{
    margin-top: 3% !important;
}

.login-head{
    margin-top: 8% !important;
}

.editprof-save-btn{
    margin-right:30px;
}

.txt-theme-color{
    color: #03ADEF !important;
}

.bg-theme-color{
    background-color: #03ADEF !important;
    color:#fff !important;
}

.sidebar-menu-font{
    color:#fff;
}

.logo-sidebar-name{
    color:#000;
    font-size: 20px;
}

.search-w{
    width: 105%;
}
.dropdown-w{
    width: 108%;
}

.radio-btn-dashboard{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}

.radio-btn-p{
    padding-right: 20px;
}

.radioLabel{
    font-weight: normal !important
}

.client{
    display: inline-block;
    flex-direction: column;
    margin: auto 10px;
}

.arrow-dropdown{
    border: none !important;
    background-color: transparent !important;
    color: #000 !important;
}

.pl-0{
    padding-left: 0%;
}

.pr-0{
    padding-right:0%;
}

.sw > label{
    width:100%
}

.wizard .steps .number{
    color: #03ADEF !important;
    border-color: #03ADEF !important;
}

.wizard .steps .current a .number{
    color: #fff !important;
    background-color: #03ADEF !important;
    border-color: #03ADEF !important;
}

.arrow-spacing{
    margin-right:10px !important;
}

.modal-footer{
    padding-right: 0 !important;
}